.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height instead of height to allow content to expand beyond the viewport */
}

.form-container {
  position: relative; /* Set the container to relative positioning */
  z-index: 1; /* Ensure the form container appears above other elements */
  max-width: 640px; /* Set a maximum width for the form container if needed */
}

/* Add any other styling for the form container as needed */
